@model IEnumerable<Assignment2.Models.BlogPost> 
@using Assignment2.Models
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Blog Index";
    var user = (User)ViewData["user"];
}

@if (user != null)
{
    <button class="btn btn-default"><a asp-controller="Home" asp-action="EditProfile" asp-route-id="@user.UserId">Edit Profile</a><br /></button>
    if (user.RoleId == 2)
    {
        <button class="btn btn-default">
            <a asp-controller="Home" class="pull-right" asp-action="ViewBadWords">View BadWords</a>
        </button>
    }
}

@{
    <h1>Posts</h1>
    @if (Model == null || Model.Count() == 0)
    {
        <p>No post here...</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="container">
                <div class="col-sm-8">
                    <a asp-controller="Home" asp-action="DisplayFullBlogPost" asp-route-id="@item.BlogPostId"><b>Title: @item.Title</b></a>
                    <p>Short Description: @item.ShortDescription</p>
                    <p>Content: @item.Content.Substring(0, Math.Min(@item.Content.Length, 100)) ...</p>
                    <p>Posted on: @item.Posted</p>
                </div>
                <hr>

                @if (user != null && user.RoleId == 2)
                {
                    <div class="col-sm-8">
                        <a class="btn btn-xs btn-primary" asp-controller="Home" asp-action="EditBlogPost" asp-route-id="@item.BlogPostId">Edit Post</a>
                        <a class="btn btn-xs btn-danger" asp-controller="Home" asp-action="DeleteBlogPost" onclick="return confirm('Are you sure to delete?');" asp-route-id="@item.BlogPostId">Delete Post</a>
                        <hr />
                    </div>
                }
            </div>
        }
    }
}